{% extends 'account/account_base.html' %}
{% load static %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}

				<span class="login100-form-title p-b-41">
					Reset Password
				</span>
				<form action="{% url 'password_reset' %}" class="login100-form p-b-33 p-t-5"
                      method="post" novalidate>
                    {% csrf_token %}

                    <div class="wrap-input100 validate-input" data-validate = "Enter Email">
						<input class="input100" type="text" name="email" placeholder="Email"
                               id="id_email" maxlength="254">
						<span class="focus-input100" data-placeholder="&#xe818;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							Reset Password
						</button>
                    </div>
                    <hr />
                    <div class="text-center">
                      <a class="small text-primary" href="{% url 'blog:login' %}"
                        >Already Have an Account!</a>
                    </div>
                    <hr />
                    <div class="text-center">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Home
                      </a>
                    </div>
				</form>

{% endblock content %}
