{% extends "account/account_base.html" %}

{% block title %}
    Successful Password Reset
{% endblock title %}

{% block content %}
    <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Successful Password Reset</h4>

                <div class="card-body">
                        <div class="alert alert-success text-dark text-center">
                            Your password has been set. <br>
                            You may go ahead and Login now.
                        </div>
                    <hr />
                        <a class="btn btn-info float-right"
                           href="{% url 'blog:login' %}">Log In Here</a>
                </div>
            </div>
    </div>

{% endblock content %}