

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {

	footer{ padding: 40px 0 0px; margin-top: 0px; position:relative!important;}

}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	h1{ font-size: 4em; }
	h2{ font-size: 3em; }
	h3{ font-size: 2em; }

	/* COMMoNS */

	.no-left-padding{ padding-left: 15px; }

	.no-right-padding{ padding-right: 15px; }


	/* MENU */

	/* SEARCH AREA */

	header .src-area{ width: 30%; }

	/* ---------------------------------
	6. MAIN POST
	--------------------------------- */

	.main-post .post-top-area,
	.main-post .post-bottom-area{ margin: 30px; }

	/* ---------------------------------
	7. SIDEBAR AREA
	--------------------------------- */

	.info-area{ padding: 30px 0; }

	.info-area .sidebar-area,
	.info-area .tag-area{ padding-left: 0px; }

	footer{ padding: 40px 0 0px; margin-top: 0px; position:relative!important;}
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2.5em; }
	h3{ font-size: 1.8em; }
	h4{ font-size: 1.5em; }
	h5{ font-size: 1.2em; }

	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.section{ padding: 40px 0 10px; }



	/* ---------------------------------
	3. MENU
	--------------------------------- */


	header .main-menu{ display: none; float: none; clear: both; border-top: 1px solid #ccc; }

	header .main-menu > li{ display: block; float: none; border-bottom: 1px solid #ddd; }

	header .main-menu > li:last-child{ border-bottom: 0; }

	header .main-menu li > a,
	header .main-menu ul.drop-down li > a{ display: block; line-height: 1; height: auto; padding: 15px; background: none; }



	/* SEARCH AREA */

	header .src-area{ width: 100%; }


	/* NAV ICON */

	.menu-nav-icon{ display: inline-block; }


	/* ---------------------------------
	6. SLIDER
	--------------------------------- */

	.main-slider{ padding-right: 0px; }


	/* ---------------------------------
	6. EXTRA BIG BLOG
	--------------------------------- */

	.post-style-2 .blog-image{ width: 100%; height: auto; float: none; }

	.post-style-2 .blog-info{ height: auto; width: 100%; }


	/* ---------------------------------
	10. FOOTER
	--------------------------------- */

	footer{ padding: 40px 0 0px; margin-top: 0px; position:relative!important;}

}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }


	/* ---------------------------------
	6. MAIN POST ( LEF AREA )
	--------------------------------- */

	/* ICONS */

	.main-post ul.post-icons,
	.main-post ul.icons{ float: none; margin-top: 10px; }

	.main-post ul.post-icons > li > a > i,
	.main-post ul.icons > li > a > i{ padding: 0; padding-right: 10px; }



}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {


}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {


}