{% extends "account/account_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    {% if validlink %}
            <div class="card shadow-sm">

            <h4 class="card-header">Reset Password</h4>

            <div class="card-body">
                    <form method="POST" class="login100-form validate-form p-b-33 p-t-5">
                        {% csrf_token %}
                         {{ form|crispy }}
					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							Reset Password
						</button>
                    </div>
                        <div class="text-center">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Home
                      </a>
                    </div>
                    </form>
            </div>
            </div>

    {% else %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Invalid Link</h4>

                <div class="card-body">
                        <div class="alert alert-danger font-weight-bold text-dark text-center">
                         The password reset link was invalid, possibly because it has already been used.
                                <br>
                                  Please request a new password reset.
                        </div>
                </div>
            </div>
    </div>
    {% endif %}
{% endblock content %}

{#<span class="login100-form-title p-b-41">#}
{#					Reset Password#}
{#				</span>#}
{#                    <form method="POST" action="{% url 'password_reset_complete' uidb64 %}"#}
{#                          class="login100-form validate-form p-b-33 p-t-5">#}
{#                        {% csrf_token %}#}
{##}
{#                        <div class="wrap-input100 validate-input" data-validate="Enter password">#}
{#                            <input class="input100" type="password" name="id_new_password1"#}
{#                                   placeholder="New password" maxlength="254" id="id_new_password1">#}
{#						<span class="focus-input100" data-placeholder="&#xe80f;"></span>#}
{#					    </div>#}
{##}
{#                            <small id="hint_id_new_password1" class="ml-4 form-text text-muted">#}
{#                                <ul>#}
{#                                <li>Your password can&#39;t be too similar to your other personal information.</li>#}
{#                                <li>Your password must contain at least 8 characters.</li>#}
{#                                <li>Your password can&#39;t be a commonly used password.</li>#}
{#                                <li>Your password can&#39;t be entirely numeric.</li>#}
{#                                </ul>#}
{#                            </small>#}
{##}
{#                        <div class="wrap-input100 validate-input" data-validate="Enter password">#}
{#                            <input class="input100" type="password" name="id_new_password2"#}
{#                                   placeholder="New password confirmation" maxlength="254" id="id_new_password2">#}
{#						<span class="focus-input100" data-placeholder="&#xe80f;"></span>#}
{#					</div>#}
{#					<div class="container-login100-form-btn m-t-32">#}
{#						<button type="submit" class="login100-form-btn">#}
{#							Reset Password#}
{#						</button>#}
{#                    </div>#}
{#                    </form>#}