{% extends 'blog/blog_base.html' %}

{% block title %}
    Author
{% endblock title %}


{% block content %}
    <div class="slider display-table center-text"
                 style="background-image: url({{ author.profile.banner_image.url }});
                    background-size: contain;
                 height: 400px; width: 100%;">
		<h1 class="title display-table-cell cell-color">
            <b>{{ author.username }}</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">
           {% if articles %}
			<div class="row">
                {% for article in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">
							<div class="blog-image">
                                <img src="{{ article.image.url }}"
                                     width="330" height="220"
                                     alt="Blog Image">
                            </div>

							<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                <img src="{{ article.author.profile.image.url }}"
                                                            alt="Profile Image" class="profile-image">
                            </a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

								<ul class="post-footer">
									<li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
									<li><i class="ion-chatbubbles"></i>{{ article.comments.count }}</li>
									<li><i class="ion-eye"></i>{{ article.views }}</li>
								</ul>

							</div><!-- article-info -->

						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
              {% endfor %}
			</div><!-- row -->
            {% else %}
              <center><div class="alert alert-info"><b>No Articles</b></div></center>
           {% endif %}
                {# Pagination for article post #}
            {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                 {% endfor %}

                {# Displays next pages #}
               {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}

		</div><!-- container -->
	</section><!-- section -->

{% endblock content %}