{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load only_hours %}

{% block title %}
    Deleted Articles
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

      <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-x-circle bg-red"></i>
                    <div class="d-inline">
                        <h5>Deleted Articles</h5>
                        <span>List of all your deleted articles.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">List Of Deleted Articles</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                                     <section class="blog-list px-3 py-5 p-md-5">
                                     {% if deleted_articles_list %}
                                            <div class="container">
                                           {% for article in deleted_articles_list  %}
                                                <div class="item mb-5">
                                                    <div class="media">
                                                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                                                        <div class="media-body">
                                                            <h3 class="title mb-1"><a href="javascript:void(0)">{{ article.title }}</a></h3>
                                                            <div class="meta mb-1"><span class="date"><b>Created:</b> <i>{{ article.date_created|timesince|upto:','}} ago</i></span>
                                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                                <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                                                                <span class="comment">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</span>
                                                            </div>
                                                          <hr class="solid"><!-- Solid divider -->
                                                        </div><!--//media-body-->
                                                    </div><!--//media-->
                                                </div><!--//item-->
                                         {% endfor %}
                                            </div>
                                     {% else %}
                                               <center><div class="alert alert-info"><b>No Deleted Articles</b></div></center>
                                     {% endif %}
                                        </section>


                                            {# Pagination for article post #}
                                          <nav aria-label="Page navigation example">
                                        {% if deleted_articles_list.has_other_pages %}
                                      <ul class="pagination justify-content-center">
                                      {% if deleted_articles_list.has_previous %}
                                        <li class="badge badge-pill badge-secondary">
                                          <a class="badge text-white" href="?page={{ deleted_articles_list.previous_page_number }}"
                                             tabindex="-1">Previous</a>
                                        </li>
                                      {% else %}
                                        <li class="badge badge-pill badge-secondary disabled">
                                         <span class="badge badge-pill badge-secondary">Previous</span>
                                        </li>
                                         {% endif %}
                                        {% for i in deleted_articles_list.paginator.page_range %}
                                        {% if deleted_articles_list.number == i %}
                                            <li class="page-item active">
                                          <span class="page-link">
                                            {{ i }}
                                            <span class="sr-only">(current)</span>
                                          </span>
                                        </li>
                                    {% else %}
                                       <li class="page-item">
                                           <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                       </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if deleted_articles_list.has_next %}
                                            <li class="badge badge-pill badge-secondary">
                                          <a class="badge text-white" href="?page={{ deleted_articles_list.next_page_number }}">Next</a>
                                        </li>
                                        {% else %}
                                         <li class="badge badge-pill badge-secondary disabled">
                                         <span class="badge badge-pill badge-secondary">Next</span>
                                        </li>
                                          {% endif %}
                                      </ul>
                                        {% endif %}
                                    </nav>
                            </div>
                          </div>
                        </div>
                </div>
            </div>

    </div>

{% endblock content %}